<div class="container mt-5">
  <!-- Add New Employee Section -->
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="employeeId">Employee ID:</label>
        <input type="text" id="employeeId" [(ngModel)]="newEmployeeId" class="form-control">
      </div>
      <div class="form-group">
        <label for="employeeNumber">Employee Number:</label>
        <input type="text" id="employeeNumber" [(ngModel)]="newEmployeeNumber" class="form-control">
      </div>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" [(ngModel)]="newFirstName" class="form-control">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" [(ngModel)]="newLastName" class="form-control">
      </div>
      <div class="form-group">
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" [(ngModel)]="newBirthday" class="form-control">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" [(ngModel)]="newGender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="picture">Picture URL:</label>
        <input type="text" id="picture" [(ngModel)]="newPictureUrl" class="form-control">
      </div>
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success mr-2" (click)="addEmployee()">Add</button>
        <button class="btn btn-primary" (click)="clearEmployeeList()">Clear</button>
      </div>
    </div>
  </div>
  <hr>

  <!-- Employee List Section -->
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Employee List</h5>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Employee ID</th>
                  <th>Employee Number</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Birthday</th>
                  <th>Gender</th>
                  <th>Picture</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employees; let i = index">
                  <td>{{ employee.employeeId }}</td>
                  <td>{{ employee.employeeNumber }}</td>
                  <td>{{ employee.firstName }}</td>
                  <td>{{ employee.lastName }}</td>
                  <td>{{ employee.birthday | date }}</td> <!-- Display date using Angular's date pipe -->
                  <td>{{ employee.gender }}</td>
                  <td><img [src]="employee.pictureUrl" alt="Employee Picture" style="max-height: 100px;"></td>
                  <td>
                    <button class="btn btn-danger btn-sm" (click)="deleteEmployee(i)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
